//- Site informations
- var lang = 'vi'
- var path = './'

//- Page informations
- var title = title || 'Madala - Project 1 Pug and SCSS'
- var metaDesc = metaDesc || 'A shop selling perfume'

//- Submenu
- 
    var 
        submenu = [
            {
                name: 'Dưỡng da',
                items: [
                    {
                        name: 'Áo khoác',
                        link: '#'
                    },
                    {
                        name: 'Áo khoác',
                        link: '#'
                    },
                    {
                        name: 'Áo khoác',
                        link: '#'
                    },
                    {
                        name: 'Áo khoác',
                        link: '#'
                    },
                    {
                        name: 'Áo khoác',
                        link: '#'
                    },
                    {
                        name: 'Áo khoác',
                        link: '#'
                    }
                ]
            },
            {
                name: 'Nước hoa',
                items: [
                    {
                        name: 'Áo khoác',
                        link: '#'
                    },
                    {
                        name: 'Áo khoác',
                        link: '#'
                    },
                    {
                        name: 'Áo khoác',
                        link: '#'
                    },
                    {
                        name: 'Áo khoác',
                        link: '#'
                    },
                    {
                        name: 'Áo khoác',
                        link: '#'
                    },
                    {
                        name: 'Áo khoác',
                        link: '#'
                    }
                ]
            },
            {
                name: 'Trang sức',
                items: [
                    {
                        name: 'Áo khoác',
                        link: '#'
                    },
                    {
                        name: 'Áo khoác',
                        link: '#'
                    },
                    {
                        name: 'Áo khoác',
                        link: '#'
                    },
                    {
                        name: 'Áo khoác',
                        link: '#'
                    },
                    {
                        name: 'Áo khoác',
                        link: '#'
                    },
                    {
                        name: 'Áo khoác',
                        link: '#'
                    }
                ]
            }
        ]

- 
    var 
        categories = [
            {
                name: 'Đồng hồ',
                link: '#'
            },
            {
                name: 'Túi',
                link: '#'
            },
            {
                name: 'Phụ kiện',
                link: '#'
            },
            {
                name: 'Sandal',
                link: '#'
            },
            {
                name: 'Trẻ em',
                link: '#'
            },
            {
                name: 'Giày',
                link: '#'
            },
            {
                name: 'Áo sơ mi',
                link: '#'
            },
            {
                name: 'Thời trang nữ',
                link: '#'
            },
            {
                name: 'Thời trang nam',
                link: '#'
            },
            {
                name: 'Bỉm',
                link: '#'
            }
        ]

//- Menu item at product list
- 
    var 
        menu_product_list = [
            {
                name: 'Mỹ phẩm',
                link: '#'
            },
            {
                name: 'Chăm sóc da',
                link: '#'
            },
            {
                name: 'Dành cho tóc',
                link: '#'
            },
            {
                name: 'Nước hoa',
                link: '#'
            },
            {
                name: 'Trang sức',
                link: '#'
            },
            {
                name: 'Quà tặng',
                link: '#'
            }
        ]

//- Delivery menu
- 
    var 
        delivery_menu = [
            {
                name: 'Mua sắm trực tuyến',
                link: '#'
            },
            {
                name: 'Đến từ chúng tôi gửi đến',
                link: '#'
            },
            {
                name: 'Chính sách vận chuyển',
                link: '#'
            },
            {
                name: 'Vận chuyển thông tin',
                link: '#'
            }
        ]

//- Support menu
- 
    var 
        support_menu = [
            {
                name: 'Câu chuyện của chúng ta',
                link: '#'
            },
            {
                name: 'Thanh toán an toàn',
                link: '#'
            },
            {
                name: 'Chính sách vận chuyển',
                link: '#'
            },
            {
                name: 'Vận chuyển thông tin',
                link: '#'
            }
        ]

//- Info menu
- 
    var 
        info_menu = [
            {
                name: 'Về chúng tôi',
                link: '#'
            },
            {
                name: 'Điều khoản & điều kiện',
                link: '#'
            },
            {
                name: 'Chính sách riêng tư',
                link: '#'
            },
            {
                name: 'Đơn đặt hàng',
                link: '#'
            }
        ]
//- accout menu
- 
    var 
        account_menu = [
            {
                name: 'Xem giỏ hàng',
                link: '#'
            },
            {
                name: 'Sản phẩm yêu thích',
                link: '#'
            },
            {
                name: 'Kiểm tra',
                link: '#'
            },
            {
                name: 'Theo dõi đơn hàng',
                link: '#'
            }
        ]