
.content {
    padding: 10px 0;
}

.clearfix {
    display: table;
    clear: both;
}

.form-group {
    margin-bottom: 2px;
    label {
        color: #000000;
        font-weight: bold;
        font-size: 12px;
        padding-bottom: 5px;
    }
}

.form-control {
    display: block;
    width: 100%;
    padding: .475rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #e7e7e7
}

.form .summary {
    margin-bottom: 30px;
    .title {
        font-size: 16px;
        text-transform: uppercase;
    }
}

.btn {
    border: none;
    cursor: pointer;
}

.btn-primary {
    display: block;
    background: #000000;
    color: #c2c2c2;
    padding: 5px 15px;
    text-transform: uppercase;
    &:hover {
        background: lighten(#000000, 20);
    }
}



.container-title {
    padding: 10px 0;
    h3 {
        font-size: 20px;
        text-transform: uppercase;
    }
}

hr.line-across {
    border-top: 1px solid #e6e6e6;
}

.row {
    &::after {
        content: '';
        display: block;
        clear: both;
    }
}