mixin blog-item(img)
    .blog-item
        img(src= img)
        .title.line-dashed-under: a(href='/blog-detail.html') Review son kem Bourijois velvet
        p.description
            | Hi, chào các nàng ... sau khá nhiều lời hứa hão thì hôm nay tớ quay 
            | lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân
            | tình xô nhau đi tắm Free để giải nhiệt. 
        .more-info.line-dashed-under
            span.by Bởi NamTran 
            span.date (27/05/2015)
        .option
            span.readmore
                a(href='/blog_detail.html') Đọc thêm
            span.times-comment 23 Bình luận

        


