.breadcrumb
  .container
    nav(aria-label='breadcrumb')
      ol
        li.breadcrumb-item
          a(href='#') Home
        li.breadcrumb-item
          a(href='#') Sản phẩm
        li.breadcrumb-item Trang sức
        li.breadcrumb-item Lắc tay