.newsletter#newsletter
    a.close.icon.icon-close(href="#")
    .newsletter-container
        .title Gửi email
        p.description
            | Hãy gửi email cua bạn liên hệ với chúng tôi để đc tư vấn tôtnhất
            | Sự hai lòng cua bạn la thành công của chúng tôi
        input.form-control(type='email' placeholder='Email của bạn ...')
        a.btn.btn-send(href="#") Gửi email