.product__item
    .product__item__img
        img(src="./images/ohui.jpg")
    .product__item__branch Ohui
    a(href="/detail.html").product__item__name Mỹ phẩm châu Âu
    hr.hr-name
    .product__item__price
        span.product__item__price(data-end=' đ') 355.000
    +action-behavior