.switch-pagination.line-dashed-under
    .switch-mode
        a.grid(href='/grid.html'): i.icon.icon-grid
        a.list(href='/list.html'): i.icon.icon-list
    .pagination
        ul.list-page
            li.item
                a.next(href="#previous")
                    i.icon.icon-previous-page
            li
                a.current(href="#") 1
            li
                a.normal(href="#") 2
            li
                a.normal(href="#") 3
            li
                a.next(href="#next")
                    i.icon.icon-next-page