.about
    .container
        .container-title
            h3 Về chúng tôi
        .row.about-container
            .col-md-6
                img(src='../images/mine.jpg')
            .information.col-md-6
                img.logo(src='../images/logo.png')
                h4 Giới thiệu chung về mỹ phẩm handmade Madala
                p.description
                    | Hi, chào các nàng ... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng 
                    | cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm 
                    | Free để giải nhiệt. Hi, chào các nàng ... sau khá nhiều lời hứa hão thì hôm nay tớ 
                    | quay lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô 
                    | nhau đi tắm Free để giải nhiệt.sau khá nhiều lời hứa hão thì hôm nay tớ quay lại 
                    | hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi 
                    | tắm Free để giải nhiệt.  
                a.readmore(href='/detail.html') Xem thêm