.container.feature
    .feature__item
        .feature__item--small
            img(src='./images/feature_1.jpg')
        .feature__item--small.bg-yellow
            .box-gel
                h3.name Sữa tắm
                +title-line-w            
        .feature__item--small.bg-grey
            .box-perfume
                h3.name Nước hoa
                +title-line-bl
        .feature__item--small
            img(src='./images/feature_3.jpg')
    .feature__item
        .player--round
            i.player-icon
        img(src='./images/feature_2.jpg')
    .feature__item
        img(src='./images/feature_4.jpg')
    .feature__item
        .feature__item--small.bg-ligt-blue
            .box-jewelry
                h3.name Trang sức
                +title-line-bl
        .feature__item--small
            img(src='./images/feature_5.jpg')
        .feature__item--small
            img(src='./images/feature_6.jpg')
        .feature__item--small
            img(src='./images/daisy.jpg')