.container.feedback
    .feedback-container
        .feedback__item
            p
                | “ Vẫn là vẻ bề ngoài vô cùng đơn giản với các tông màu trắng, hồng làm chủ đạo nhưng lại
                | tạo ra sức hút kỳ lạ với những ai cầm trên tay sản phẩm ấy!
                | Với công nghệ cải tiến mới nhất, hãng Rohto  ”
            ul.dot-pagination
                li.dot: a(href="#f1")
                li.dot.active: a(href="#f2")
                li.dot: a(href="#f3")
            
            .author
                img.photo(src="./images/user_image1.png", alt="TUTILE")
                .name-pos
                    span.name TUTILE
                    span.position Giám đốc phát triển sản phẩm
    

