.product-grid
    +product-item-home('/images/ohui.jpg', 'Ohui', 'Mỹ phẩm châu Á', 350000, 440000)
    +product-item-home('/images/home.jpg', 'Home', 'Mỹ phẩm châu Á', 350000, 440000)
    +product-item-home('/images/deborah.jpg', 'Debora', 'Mỹ phẩm châu Á', 350000, 440000)