.login
    .container
        .login-title
            h3 Đăng nhập
            .login-other.btn.btn-primary Đăng ký
        .login-container
            .login-form.form
                .summary
                    .title Khách hàng đăng ký
                    p.description Nếu bạn có một tài khoản, vui lòng đăng nhập
                .form-group
                    label Địa chỉ email *
                    input.form-control(type='email')
                .form-group
                    label Password *
                    input.form-control(type='password')
                .option
                    a(href='#').forget Quên mật khẩu ?
                    button(type='submit' class='btn btn-primary') Đăng nhập