.container
    ul.promotion
        +promotion('icon-flight', 'Miễn phí vận chuyển')
        +promotion('icon-gift', 'Nhận ngay quà tặng trị giá 350.000đ')
        +promotion('icon-star', 'Giảm 30% cho đơn hàng trên 5.000.000đ')