.slide
    .container 
        .slide-content.col-md-12
            .info
                img.image(src='../images/bottle.png')
                p.branch Green Vera
                p.desc Sản phẩm tinh dầu dưỡng da mới nhất của Mandala
                p.price Giá chỉ 750.000đ
                a(href='#newsletter') Mua hàng
            .bg
