.container.social
    ul.list-social
        li
            a(href='#' target='_blank')
                i.fab.fa-facebook-f
                span Facebook
        li
            a(href='#' target='_blank')
                i.fab.fa-twitter
                span Twitter
        li
            a(href='#' target='_blank')
                i.fab.fa-instagram
                span Instagram
        li
            a(href='#' target='_blank')
                i.fab.fa-google-plus-g
                span Google
        li
            a(href='#' target='_blank')
                i.fab.fa-pinterest
                span Pinterest
        li
            a(href='#' target='_blank')
                i.fab.fa-linkedin-in
                span Linkedin