//----------------------------------------
//   Variables
//----------------------------------------

//
// 1 - Color
// ---------------------------------------

$clr-light: #fff;
$clr-success: #61bcbd;
$clr-warning: #f9b134;
$clr-notice: #d9edf7;
$clr-error: #d24a53;
$clr-divider: #dadada;

$clr-grey: #c1c1c1;
$clr-border-grey: #dcdcdc;

$clr-slide-bg: #f1f1f1;
$clr-slide-desc: #6c3c33;

$clr-black: #050505;
$clr-0-darker: #23292e;
$clr-0-dark: #212121;
$clr-0: #333;
$clr-0-light: #a9a8a8;
$clr-0-lighter: #fafafa;

$clr-1: #789629;
$clr-1-light: tint($clr-1, 20%);

$clr-1-lighter: tint($clr-1, 85%);
$clr-1-dark: shade($clr-1, 15%);
$clr-1-darker: shade($clr-1, 30%);


$clr-2: #88d8da;

$clr-2-light: tint($clr-2, 50%);
$clr-2-lighter: tint($clr-2, 85%);
$clr-2-dark: shade($clr-2, 15%);
$clr-2-darker: shade($clr-2, 30%);


//
// 2 - Font
// ---------------------------------------

$font-base: 'Open Sans', sans-serif;
$font-size-base: 1.6rem;

$font-special-1: 'Lobster', cursive;

// Don't touch this, it's for em convertion
$em-base: strip-units($font-size-base) * 10;
$font-weight-bold: bold;
$font-weight-base: 400;
$font-weight-thin: 100;
$font-size-XXL: 4rem;
$font-size-XL: 2.8rem;
$font-size-L: 2rem;
$font-size-M: 1.6rem;
$font-size-S: 1.4rem;
$font-size-XS: 1.2rem;
$font-size-XXS: 1rem;
$line-height-L: 1.625;
$line-height-M: 1.5;
$line-height-S: 1.25;
$line-height-XS: 1;

//
// 3 - Grid and wrapper
// ---------------------------------------

$app-min-width: 30rem;
$wrap-M-max-width: 100rem;
$wrap-S-max-width: 60rem;
$gutter-width: 2rem;

$width-list: (20 20%) (25 25%) (33 33.333%) (40 40%) (50 50%) (60 60%)
  (66 66.666%) (75 75%) (80 80%) (100 100%);

//
// 4 - Radius
// ---------------------------------------

$rad-S: 0.3rem;
$rad-M: 1rem;

//
// 5 - Forms
// ---------------------------------------

$form-group-input-height: 4rem;

$form-list-input: _assign(
  (
    '[type="text"]',
    '[type="password"]',
    '[type="tel"]',
    '[type="url"]',
    '[type="email"]',
    '[type="search"]',
    '[type="date"]',
    '[type="month"]',
    '[type="number"]'
  )
);

//
// 9 - Transitions
// ---------------------------------------

$trans-timing: 0.3s;
$trans-cubic: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$trans-all: all $trans-timing $trans-cubic;
