extends ../layouts/summary
append config
	- var title = "Nàng béo không ngại diện váy áo nổi bật"
	- var metaDesc = "Nàng béo không ngại diện váy áo nổi bật"
block head_end
block content
	include ../partials/navbar
	include ../components/breadcrumb
	include ../partials/blogDetail
	include ../partials/footer
block body_end