extends ../layouts/summary
append config
    - var title = "Giỏ hàng"
    - var metaDesc = "Thông tin giỏ hàng"
block head_end
block content
    include ../partials/navbar
    include ../components/breadcrumb
    include ../partials/cart
    include ../partials/footer
block body_end