extends ../layouts/summary
append config
    - var title = "Đăng nhập"
    - var metaDesc = "Đăng nhập vào ..."
block head_end
block content
    include ../partials/navbar
    include ../components/breadcrumb
    include ../partials/login
    include ../partials/footer
block body_end