extends ../layouts/summary
append config
    - var title = "Đăng ký"
    - var metaDesc = "Tài khoản mới"
block head_end
block content
    include ../partials/navbar
    include ../components/breadcrumb
    include ../partials/register
    include ../partials/footer
block body_end