.icon-close {
    background: url('../images/close-icon.png') no-repeat;
    display: block;
    height: 31px;
    width: 30px;
}

.newsletter {
    display: none;
    position: absolute;
    z-index: 999;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    @include breakpoint(tablets-up) {
        &:target {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }
    .close {
        margin-bottom: 30px;
    }
    &-container {
        width: 60vh;
        height: 60vh;
        background: url('../images/newsletter-bg.png') $white no-repeat center;
        background-size: contain;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 10px 50px;
        .title {
            text-transform: uppercase;
            font-size: ($fz-medium)+2;
            color: $black;
        }
        .description {
            color: $light;
            font-size: ($fz-standard)-1;
            text-align: center;
            margin-bottom: 15px;
        }
        .form-control {
            border-radius: 45px;
            border: 2px solid $border-grey;
            padding: 10px 15px;
            color: $black;
            &::placeholder {
                color: $light;
                font-size: $fz-small;
            }
        }
        .btn-send {
            text-align: center;
            color: $black;
            text-decoration: underline;
            text-transform: uppercase;
            margin-top: 15px;
        }
    }
}