.tag {
    padding: 0 15px;
    margin-top: 20px;
    h3.title {
        @include title-part;
    }
    .content {
        padding-top: 10px;
        a {
            border: 1px solid $clr-light;
            color: $clr-0-light;
            padding: 6px 8px;
            margin-right: 5px;
            margin-bottom: 5px;
            display: inline-block;
            font-size: 13px;
            text-decoration: none;
            &:hover {
                background: $clr-black;
                color: $clr-light;
            }
        }
    }
}