.feedback {
    background: url('../images/bg_feedback_m.png');
    background-size: contain;
    background-repeat: no-repeat;
    @include breakpoint(tablets-up) {
        background: url('../images/bg_feedback_lg.png');
        background-size: 300px;
        background-repeat: no-repeat;
        background-position: right;
    }
}

.feedback-container {
    padding: 30px 40px;
    @include breakpoint(tablets-up) {
        padding: 30px 0;
    }
}

.feedback__item {
    position: relative;
    p {
        text-align: center;
        font-size: $fz-standard;
        width: 80%;
        @include breakpoint(tablets-up) {
            padding-left: 180px;
            text-align: left;
        }
    }
}

ul.dot-pagination {
    text-align: center;
    padding: 10px;
    @include breakpoint(tablets-up) {
        order: 1;
        text-align: left;
        padding-left: 180px;
    }
    li.dot {
        background: url('../images/dot_page.png') no-repeat;
        width: 7px;
        height: 7px;
        display: inline-block;
    }
    li.active {
        background-position: -14px 0;
    }
}

.author {
    display: flex;
    align-items: center;
    @include breakpoint(tablets-up) {
        order: 0;       
        padding-left: 150px;
    }
}

img.photo {
    border: 4px solid $divider;
    border-radius: 50%;
    padding: 8px;
    margin-right: 20px;
    @include breakpoint(tablets-up) {
        position: absolute;
        left: 0;       
        top: -20px;
    }
}

.name-pos {
    margin-top: 10px;
    padding-left: 30px;
    .name {
        display: block;
        font-size: ($fz-standard)-1;
        @include breakpoint(tablets-up) {
            display: inline;
            padding-right: 10px;
        }
    }
    .position {
        color: $light;
        font-size: ($fz-standard)-1;
        @include breakpoint(tablets-up) {
            &::before{
                content: ' _';
            }
        }
    }
}