.slide {
    background: $slide-bg;
    position: relative;
    top: -80px;
    overflow: hidden;
}

.slide-content {
    text-align: center;
    padding: 0;
    display: flex;
    height: 100%;
    .info {
        flex: 1;
        margin-top: 110px;
    }
    .bg {
        flex: 1;
        position: relative;
        background: url('../images/person_slide.png') no-repeat;
        background-size: cover;
        @include breakpoint(tablets-up) {
            background-position: right;
            background-size: contain;
        }
    }
    .image {
        position: relative;
        width: 50%;
    }
    .branch {
        color: $primary;
        font-size: ($fz-large)*2+5;
        font-family: $font-special-2;
    }
    .desc {
        color: $slide-desc;
    }
    .price {
        color: $primary;
        text-transform: uppercase;
        font-size: $fz-large;
        font-weight: lighter;
    }
    a {
        color: $black;
        text-transform: uppercase;
        text-decoration-line: underline;
        &:hover {
            color: lighten($black, 50);
        }
    }
}